<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Beta</title>
</head>

<body>
  <h1 style="color: blue">Index</h1>
  <h3>beta value is: {{beta_val}} </h3>
  <img src='{{url_for('static', filename=imgfile )}}'/>
  <p>This is an HTML file served up by Flask</p>
</body>

</html>